.form-item{
    display:flex;
  align-items:center;
  margin-bottom:20px;
}
.form-item label{
    flex:1;
    flex-basis:20%;
    font-weight: bold;
    
    max-width:20%;
  }
  .form-item input {
    flex:2;
    flex-basis:20%;
    max-width:35%;
  }
  .form-item textarea {
    flex:2;
    flex-basis:20%;
    max-width:35%;
  }